{% extends "layouts/application.html.j2" %}

{% block name %} Boodschappen {% endblock %}

{% block content %}
    <div class="row my-2">
        <div class="card col my-2">
            <div class="card-body">
                <h5 class="card-title">Boodschappen</h5>
                <p class="card-text">
                    Deze pagina is nog leeg...
                </p>
            </div>
        </div>
    </div>
{% endblock %}
