{% extends "layouts/application.html.j2" %}

{% block name %} Home {% endblock %}

{% block content %}
  <h1 class="mt-5 text-center">Welkom bij Huize Patje<br></h1>

  <div class="row my-2">
      <div class="card text-center col-md-8 col-sm offset-md-2 my-2">
          <img src="/static/logo.png" class="rounded card-img" alt="Logo">

      </div>
  </div>
{% endblock %}
