{% extends "layouts/application.html.j2" %}

{% block name %} Home {% endblock %}

{% block content %}
  <h1 class="mt-5 text-center">Welkom bij Huize Patje!</h1>
  <img src="/static/logo.png" class="img-fluid center" style="width: auto;" alt="Responsive image">
{% endblock %}
