{% extends "layouts/application.html.j2" %}

{% block name %} Kamerzoekers {% endblock %}

{% block content %}
    <div class="row mt-2">
    <div class="col-md">

        <div class="card my-2">

            <div class="row no-gutters">
                <div class="col-lg-5 rounded bg-dark">
                    <img src="/static/photos/sam.jpg" class="rounded card-img" alt="Sam">
                </div>
                <div class="col-lg">
                    <div class="card-body">
                        <h5 class="card-title">Lieve kamerzoeker,</h5>
                        <p class="card-text">
                            Binnenkort komt er een plekje vrij in de gezellige patiowoning waar we met zes studenten en onze lieve huiskat Sam met veel plezier wonen. We zijn een gemengd huis, en om te zorgen dat dat zo blijft zijn we op zoek naar een leuke, nieuwe huisgenote.
                        </p>
                    </div>
                </div>

            </div>


        </div>

        <div class="card my-2">
            <div class="card-body">
                <p class="card-text">
                    Met de mooie mix van verschillende hobby’s en studies die je bij ons vindt, valt er genoeg samen te doen. Sinterklaas vieren, een diner organiseren met oud-huisgenoten en een groots flatfeest met de buren zijn slechts een paar van de highlights. Doordeweeks eten we elke dag samen, met altijd een toetje achteraf - variërend van vla tot taart. Daarna blijft iedereen nog graag even hangen voor een kop koffie en thee en later op de avond een biertje of lekkere mojito. Films kijken, sporten en met z’n allen studeren in de bieb doen we ook regelmatig.
                </p>
                <p class="card-text">
                    Onze kamers kijken uit op een mooi, groot plein, waar je ’s zomers heerlijk buiten kunt zitten werken, eten uit onze eigen moestuin en genieten van de prachtige flora en fauna in de vijver. Misschien dat zelfs de enige echte patioschildpad zich nog laat zien! De universiteitsgebouwen zijn super dichtbij, dus je kunt vóór college nog lekker lang blijven liggen. De stad is ongeveer twintig minuutjes fietsen.
                </p>
            </div>
            <div id="carousel_indicator" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel_indicator" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel_indicator" data-slide-to="1"></li>
                    <li data-target="#carousel_indicator" data-slide-to="2"></li>
                    <li data-target="#carousel_indicator" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/photos/buiten.jpg" class="rounded d-block w-100" alt="Buiten">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/photos/kamer_achter.jpg" class="rounded d-block w-100" alt="Kamer achter">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/photos/kamer_voor.jpg" class="rounded d-block w-100" alt="Kamer voor">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/photos/samen.jpg" class="rounded d-block w-100" alt="Kerstdiner">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel_indicator" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel_indicator" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Groetjes van Annika, Kimberly, Noah, Tommie & Youri!
                </p>
            </div>
        </div>


    </div>
    <div class="col-md-4">
        <div class="card my-2">
            <div class="card-header">
                <strong>Matenweg 30A-105</strong>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>10 m²</strong> (+ grote woonkamer)</li>
                <li class="list-group-item"><strong>€287,-</strong> per maand</li>
                <li class="list-group-item"><strong>5</strong> medebewoners</li>
                <li class="list-group-item"><strong>badkamer</strong> met 2 anderen</li>
                <li class="list-group-item"><strong>medio december</strong> beschikbaar</li>
            </ul>
            <img src="/static/photos/boom.jpg" class="rounded card-img" alt="Herfstpatio">
        </div>

        <div class="card my-2">
            <div class="card-header">
                <strong>Geïnteresseerd?</strong>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Wil je graag eens langskomen om kennis te maken, stuur ons dan een mailtje met wat info over jezelf en wie weet spreken we je op een hospiteeravond eind november.
                </p>
                <a href="mailto:hospiteren@30a.nl" class="btn btn-primary">Mail</a>
                <a href="https://www.roomspot.nl/aanbod/te-huur/details/3840-matenweg-30-a101-enschede" class="btn btn-link">Meer info...</a>
            </div>
        </div>

    </div>

{% endblock %}
